.container{margin:0 auto;
width: 960px;}
.container h1{
    color: #7E9F19;
    text-decoration: none;
}
h1:hover{
    background-color: tan;
    color: #fff;
}
body{
    background: #fff1d6;
    font-style: normal;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.6;
}
article{
    background-color: #fff;
    border-color: rgb(123, 187, 20);
    border: 1px  solid #CCC;
    margin-bottom: 10px;
    padding: 8px;
}
article h2{
    border-bottom: 2px dashed #7E9F19;
    margin: 0%;
}
article a{font-weight: bold;}
article a:hover{
    background-color: #7E9F19;
    color: #fff;}
article img{
    border: 1px solid #7E9F19;
    width: 156px;
    height: 156px;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
}
article p{
    float: right;
    width: 477px;
}
footer{
    font-size: 12px;
    text-align: center;
}
aside{
    background-color: #fffbe4;
    border: 1px solid #c9bc8f;
    padding: 10px;
    float: left;
    width: 240px;
    margin-left: 10px;
}
aside h3{
    font-size: 14px;
    margin-top: 0;
}
aside ol{
    font-size: 12px;
}
.places{
    float: left;
    width:670px;
}
.clear{
    clear: both;
}
