@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header> h1{
    padding-top: 50px;
    /*Todas as letras maisculas:text-transform: uppercase;*/
    font-variant: small-caps; /* Transformar as letras em maiusculas diferenciando a 1 pelo tamanho */
    font-family: var(--font2);
    font-size: 10vw;
}
header> p{
    padding-bottom: 50px;
}
.normal{
    background-color: white;
    color: black;
}
section{/*para criar o efeito paralax é importante adicionar o espaçamento aqui entre as sections e para isso usou-se o padding top e bottom de 10% a vh*/
    padding: 10vh 0vh 10vh 30px;
    line-height: 2em;/* espaçamento entre as linhas*/
    font-family: var(--font3);
    font-size: 3.7vw;
}
section> p{
    padding-bottom: 2em;
}
section#img01
{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}
section#img02
{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}
.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.438);
    background-size: cover;
    background-attachment: fixed;
}
.imagem> p{
    background-color: rgb(0, 0, 0, 0.514);
    /* max-width: 500px;-----Quis usar essa propriedade para ajustar a box- model de paragrafo em função ao texto que iria se adaptando em relação a largura do ecrã mas em alguns tamanhos de tela o espaço vai ser equeno entre o limite da box model e o texto então usarei outra*/
    display: inline-block;
    padding: 15px;
    text-shadow: 1px 1px 1px black;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}